html, body, .container, .container-fluid {
    margin: 0;
    padding :0;
    overflow-x: hidden;
}

#all {
    transition: transform 1s ease-out;
}

.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width : 100vw;
}

.fullheight {
    height: 120vh;
}

.fullscale {
    width: 100%;
}

.step {
    height: 75vh;
    padding: 0;
}
.step2 {
    height: 50vh;
    padding: 0;
}
.col-md-12 {
    margin: 0;
    padding: 0;
}

.devider {
    height: 70vh; 
    background-image: url('files/back2.png');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.devider .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* scroll button */


.icon-scroll {
  width: 20px;
  height: 40px;
  box-shadow: inset 0 0 0 1px rgb(77, 67, 223);
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: rgb(77, 67, 223);
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
}

/* end scroll button */

/* number picker */

.handle-counter { overflow: hidden; }

	 

	.handle-counter .counter-minus,  .handle-counter .counter-plus,  .handle-counter input {

	  float: left;

	  text-align: center;

	}

	 

.handle-counter .counter-minus,  .handle-counter .counter-plus { text-align: center; }

	 

.handle-counter input {

width: 50px;

	  border-width: 1px;

	  border-left: none;

	  border-right: none;

	}

	 

	.btn {

	  padding: 6px 12px;

	  border: 1px solid transparent;

	  color: #fff;

	}

	 

	.btn:disabled, .btn:disabled:hover {

	  background-color: darkgrey;

	  cursor: not-allowed;

	}

	 

	.btn-primary { background-color: #009dda; }

	 

	.btn-primary:hover, .btn-primary:focus { background-color: #0486b9; }

/* end number picker */

/* progress circle */

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    border-color: #049dff;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    transform: rotate(42.48deg);
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}


/* end progress circle */

#story1 {
    position: relative;
    height: 100vh;
    padding: 0;
}

#sticky2 {
    padding-top: 70px;
}

#story2 {
    position: relative;
    height: 150vh;
    padding: 35px 0px;
}


#story3 {
    position: relative;
    height: 80vh;
    padding: 50px 0px;
}

.info1 {
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    font-size: 150%;
}

.info {
    height: 45%;
    padding: 70px 50px;
    font-size: 100%;

}
.info2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    font-size: 200%;
}
